html{
	height:100%;
	overflow: hidden;
}

body {
	padding:0;
	margin:0;
	height:100%;
}

#loading{
	width:100%;
	height:100%;
	background:url('assets/loading.gif') #ededed;
	background-position:50%;
	background-repeat:no-repeat;
	z-index: 9999;
	position:absolute;
	display:table;
	overflow:hidden;
	max-width: 100%;
	overflow-wrap: break-word;
}

#loading-text {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	padding: 30px 20px;
	font-style: italic;
	font-family: Helvetica;
	overflow:hidden;
	word-wrap: break-word;
	overflow-wrap: break-word;
}