<?js
var data = obj;
var self = this;
?>
<code class="
	subsection-code
	<?js if (data.inherited && data.inherits && !data.overrides) { ?> quickaccess-inhereted <?js } ?>
	<?js= (data.access && data.access == 'private') ? 'quickaccess-private' : '' ?>
"><a href="#<?js= id ?>"><?js= name ?></a></code>
